{% extends 'base.html.twig' %}

{% block title %}Edit Cards{% endblock %}

{% block body %}
    <h1>Edit Cards</h1>

    {{ include('cards/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cards_index') }}">back to list</a>

    {{ include('cards/_delete_form.html.twig') }}
{% endblock %}
