{% extends 'base.html.twig' %}

{% block title %}New Cards{% endblock %}

{% block body %}
    <h1>Create new Cards</h1>

    {{ include('cards/_form.html.twig') }}

    <a href="{{ path('app_cards_index') }}">back to list</a>
{% endblock %}
