{% extends 'base.html.twig' %}

{% block title %}Sidamon{% endblock %}

{% block body %}
<div class="container mt-2">
    <p>Nous avons le regret de vous annoncer que le projet Sidamon n'a pu arriver à ses fins 😔</p>
</div>
{% endblock %}